* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(26, 30, 31);
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
